html, body, div, p, h1, h2, header,
footer, main, nav, ul, li, a, img, input, select,
option, button, span, label, blockquote,
label::before {
  box-sizing: border-box; }

p, h1, h2, label, option, input, button, select, blockquote {
  margin: 0;
  padding: 0;
  font: inherit; }

ul, li {
  list-style: none; }

input,
button,
select {
  border: none;
  font-family: inherit;
  line-height: normal;
  background-color: transparent;
  outline: none; }

button {
  border: none;
  font: inherit;
  cursor: pointer; }

label {
  display: block;
  cursor: pointer; }

a {
  text-decoration: underline;
  background-color: inherit;
  cursor: pointer;
  color: #53A6CB; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

[type="radio"],
[type="checkbox"] {
  display: none; }

.product-id {
  display: none; }

input::-webkit-input-placeholder {
  color: #BEB1C4; }

input::-moz-placeholder {
  color: #BEB1C4; }

input:-ms-input-placeholder {
  color: #BEB1C4; }

input::-ms-input-placeholder {
  color: #BEB1C4; }

input::placeholder {
  color: #BEB1C4; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-style: normal;
  font-weight: 400;
  background-color: #5A3760;
  color: #fff; }
  @media (min-width: 360px) {
    html,
    body {
      font-size: 14px;
      line-height: 19px; } }

.page-wrapper {
  margin: 0 auto;
  min-height: 100vh; }

.button-main {
  height: 48px;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  background: linear-gradient(110.34deg, #82FF9E 0%, #52FFB8 87.33%);
  color: #39574A;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .button-main:active {
    background: linear-gradient(110.34deg, #73E88D 0%, #47D39A 87.33%);
    box-shadow: inset 1px 1px 4px #256539; }
  @media (min-width: 360px) {
    .button-main {
      height: 52px; } }

.page-header {
  background-color: #794F80;
  box-shadow: 0px 3px 15px #452849; }
  .page-header__wrapper {
    min-width: 310px;
    max-width: 600px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: calc(1rem - 2px);
    align-items: center;
    padding: 0 16px;
    margin: 0 auto; }
    @media (min-width: 360px) {
      .page-header__wrapper {
        height: 42px;
        padding: 0 24px; } }
    @media (min-width: 412px) {
      .page-header__wrapper {
        height: 45px;
        padding: 0 16px; } }
  .page-header__logo-image {
    width: 56px;
    display: block; }
    @media (min-width: 360px) {
      .page-header__logo-image {
        width: 62px; } }

.login__text {
  margin: 0 8px; }

.login__button {
  padding: 4px 13px;
  border-radius: 5px;
  background-color: #A379AD;
  color: #5A3760;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none; }
  .login__button:active {
    background-color: #9B6FA6;
    box-shadow: inset 1px 1px 2px #623769; }

.page-content {
  position: relative;
  min-width: 310px;
  max-width: 500px;
  margin: 0 auto; }
  .page-content__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 134px;
    background-image: url("../images/bg-mob-l-ru.png");
    background-position-x: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: 0; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .page-content__background {
        background-image: url("../images/bg-mob-l-ru@2x.png"); } }
    @media (min-width: 360px) {
      .page-content__background {
        height: 157px; } }
    @media (min-width: 412px) {
      .page-content__background {
        height: 191px; } }
  .page-content__wrapper {
    position: relative;
    width: calc(100% - 48px);
    margin: 0 auto;
    z-index: 1; }

.page-title {
  height: 115px;
  width: 100%;
  display: flex;
  align-items: center; }
  @media (min-width: 360px) {
    .page-title {
      height: 135px; } }
  @media (min-width: 412px) {
    .page-title {
      height: 191px; } }

.page-slogan {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase; }
  @media (min-width: 360px) {
    .page-slogan {
      font-size: 17px;
      line-height: 23px; } }
  @media (min-width: 412px) {
    .page-slogan {
      font-size: 20px;
      line-height: 28px; } }
  .page-slogan__strong {
    color: #52FFB8; }

.form-registration__item {
  position: relative;
  margin-bottom: 8px; }
  .form-registration__item--last {
    margin-bottom: 14px; }
  @media (min-width: 360px) {
    .form-registration__item {
      margin-bottom: 16px; }
      .form-registration__item--last {
        margin-bottom: 24px; } }
  @media (min-width: 412px) {
    .form-registration__item {
      margin-bottom: 28px; }
      .form-registration__item--last {
        margin-bottom: 56px; } }

.form-registration__button {
  margin-bottom: 4px; }
  @media (min-width: 360px) {
    .form-registration__button {
      margin-bottom: 12px; } }
  @media (min-width: 412px) {
    .form-registration__button {
      margin-bottom: 16px; } }

.form-registration__conf-info {
  margin-bottom: 5px; }
  @media (min-width: 360px) {
    .form-registration__conf-info {
      margin-bottom: 8px; } }
  @media (min-width: 412px) {
    .form-registration__conf-info {
      margin-bottom: 16px; } }

.reg-gender__container {
  display: flex; }

.reg-gender__item {
  flex-grow: 1; }

.title-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 4px;
  z-index: 10; }
  @media (min-width: 360px) {
    .title-container {
      margin-bottom: 5px; } }
  @media (min-width: 412px) {
    .title-container {
      margin-bottom: 10px; } }

.form-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-right: 6px; }
  @media (min-width: 360px) {
    .form-title {
      font-size: 13px;
      margin-right: 7px; } }
  @media (min-width: 412px) {
    .form-title {
      font-size: 14px;
      margin-right: 11px; } }

.switcher__items {
  display: flex; }

.switcher-item__label {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-color 0.3s; }
  @media (min-width: 360px) {
    .switcher-item__label {
      width: 60px;
      height: 60px; } }
  @media (min-width: 412px) {
    .switcher-item__label {
      width: 70px;
      height: 70px; } }
  .switcher-item__label--male {
    background-image: url("../images/man.svg"); }
  .switcher-item__label--female {
    background-image: url("../images/woman.svg"); }

.switcher-item__input:checked + .switcher-item__label--male {
  background-color: rgba(180, 232, 255, 0.5); }

.switcher-item__input:checked + .switcher-item__label--female {
  background-color: rgba(255, 198, 249, 0.5); }

.switcher-item:first-child {
  margin-right: 12px; }

.form-item__content {
  position: relative; }

.form-item__input {
  height: 36px;
  border: 1.5px solid #846192;
  border-radius: 5px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: auto 67%;
  background-position: calc(100% - 10px) center;
  color: #553F58; }
  @media (min-width: 40px) {
    .form-item__input {
      height: 40px; } }
  @media (min-width: 412px) {
    .form-item__input {
      height: 44px; } }
  .form-item__input:focus {
    border: 1.5px solid #7ED7FF; }
  .form-item__input--text {
    width: 100%;
    padding: 0 40px 0 15px; }
  .form-item__input--text.input-valid {
    background-image: url("../images/valid.svg"); }
  .form-item__input--text.input-invalid {
    background-image: url("../images/invalid.svg"); }
  .form-item__input--select {
    padding: 0 15px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-size: auto 15%;
    background-position: calc(100% - 1rem) center;
    color: #BEB1C4; }

.question-icon {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  background-size: cover; }
  .question-icon--common {
    background-image: url("../images/question-common.svg"); }
  .question-icon--pressed {
    background-image: url("../images/question-pressed.svg"); }
  @media (min-width: 412px) {
    .question-icon {
      width: 20px;
      height: 20px; } }

.popup-info {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  white-space: nowrap;
  padding: 4px 8px;
  background-color: #fff;
  color: #553F58;
  box-shadow: 0px 0px 36px #43224B, 0px 0px 7px rgba(43, 12, 48, 0.68);
  border-radius: 2px 2px 2px 2px;
  z-index: 5; }
  @media (min-width: 360px) {
    .popup-info {
      padding: 5px 8px; } }
  @media (min-width: 412px) {
    .popup-info {
      padding: 7px 8px; } }
  .popup-info--invert {
    transform: translateX(-100%); }
  .popup-info--common::before, .popup-info--common::after {
    top: 100%;
    left: 0; }
  .popup-info--invert::before, .popup-info--invert::after {
    top: 100%;
    right: 0;
    transform: scale(-1, 1); }
  .popup-info::before, .popup-info::after {
    position: absolute; }
  .popup-info::before {
    content: "";
    width: 0;
    height: 0;
    top: calc(100% - 2px);
    border-top: 9px solid #fff;
    border-right: 9px solid transparent; }
  .popup-info__text {
    font-size: 12px;
    line-height: 16px; }
    @media (min-width: 360px) {
      .popup-info__text {
        font-size: 13px;
        line-height: 18px; } }
    @media (min-width: 412px) {
      .popup-info__text {
        font-size: 14px;
        line-height: 19px; } }

.birth-date {
  display: flex; }
  .birth-date__input {
    flex-grow: 1; }
    .birth-date__input:not(:last-child) {
      margin-right: 8px; }
      @media (min-width: 360px) {
        .birth-date__input:not(:last-child) {
          margin-right: 10px; } }
      @media (min-width: 412px) {
        .birth-date__input:not(:last-child) {
          margin-right: 12px; } }

.confidential-info__label {
  padding-left: 21px;
  position: relative;
  color: #FF855F; }
  .confidential-info__label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 13px;
    height: 13px;
    border: 1px solid #FF855F;
    transform: translateY(-50%); }

.confidential-info__input:checked + .confidential-info__label {
  color: #D8BDDE; }
  .confidential-info__input:checked + .confidential-info__label::before {
    background-image: url("../images/checkmark.svg");
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: center;
    border: 1px solid #D8BDDE; }

.confidential-info__text {
  font-size: 10px;
  line-height: 14px; }
  @media (min-width: 412px) {
    .confidential-info__text {
      font-size: 12px; } }

.secure-icons {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; }
  .secure-icons__item {
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 17px; }
    @media (min-width: 412px) {
      .secure-icons__item {
        margin-right: 21px; } }
  .secure-icons--icon-1 {
    width: 43px;
    height: 43px;
    background-image: url("../images/secure.png"); }
    @media (min-width: 412px) {
      .secure-icons--icon-1 {
        width: 52px;
        height: 52px; } }
  .secure-icons--icon-2 {
    width: 79px;
    height: 46px;
    background-image: url("../images/ssl.png"); }
    @media (min-width: 412px) {
      .secure-icons--icon-2 {
        width: 95px;
        height: 56px; } }

#email {
  position: relative;
  z-index: 9; }

#email-options {
  display: none;
  width: 100%;
  max-height: 120px;
  position: absolute;
  padding: 0;
  border: 1px solid #846192;
  border-top: none;
  border-radius: 0 0 5px 5px;
  font-size: 0;
  text-align: left;
  background: #fff;
  box-shadow: 1px 1px 3px #999;
  overflow-y: auto;
  z-index: 20; }

#email-options li {
  height: 24px;
  padding-left: 0.9rem;
  border-bottom: 1px solid #b8b8b8;
  font-size: 0.9rem;
  line-height: 150%;
  color: #553F58; }

.main-nav {
  display: block !important;
  padding: 0 20px;
  background-color: #794F80; }

.main-nav ul {
  margin: 0;
  padding: 0;
  text-align: center; }

.main-nav li {
  display: block;
  padding: 10px;
  line-height: 30px; }
  @media (min-width: 480px) {
    .main-nav li {
      display: inline-block; } }

.main-nav a {
  text-decoration: none;
  color: #fff; }

.js-input-valid,
.js-input-valid:focus {
  border: 1.5px solid #53DD6C; }

.js-input-invalid,
.js-input-invalid:focus {
  border: 1.5px solid #FF855F; }

.js-focus,
.js-focus:focus {
  border: 1.5px solid #7ED7FF; }

.select-changed {
  color: #553F58; }

.hidden {
  display: none; }

.error-block {
  margin-top: 1px;
  font-size: 10px;
  line-height: 14px;
  color: #FF855F; }
  @media (min-width: 360px) {
    .error-block {
      margin-top: 2px;
      font-size: 12px;
      line-height: 16px; } }
  @media (min-width: 412px) {
    .error-block {
      margin-top: 4px; } }

@media (min-width: 412px) {
  .pass-error-block {
    position: absolute; } }

.js-margin-small {
  margin-bottom: -2px; }
  @media (min-width: 360px) {
    .js-margin-small {
      margin-bottom: -6px; } }
  @media (min-width: 412px) {
    .js-margin-small {
      margin-bottom: -11px; } }

.js-margin-middle {
  margin-bottom: -6px; }
  @media (min-width: 412px) {
    .js-margin-middle {
      margin-bottom: -15px; } }

.js-margin-large {
  margin-bottom: -10px; }
  @media (min-width: 360px) {
    .js-margin-large {
      margin-bottom: -13px; } }
  @media (min-width: 412px) {
    .js-margin-large {
      margin-bottom: -36px; } }

body {
  display: flex;
  flex-direction: column; }

.page-wrapper {
  width: 100%;
  order: 2; }

.cookie-notification {
  order: 1;
  position: relative !important; }

footer {
  order: 3; }
